@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded">
            
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>

            @* <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink> *@
            @* <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink> *@
            
            @* <FluentNavLink Href="interventions" Icon="@(new Icons.Regular.Size20.Wrench())" IconColor="Color.Accent">Interventions</FluentNavLink> *@
            <FluentNavGroup Title="Interventions" Icon="@(new Icons.Regular.Size20.Wrench())" ActiveClass="active">
                <ChildContent>
                    <FluentNavLink Href="interventions" IconColor="Color.Accent">List Interventions</FluentNavLink>
                    <FluentNavLink Href="interventions" IconColor="Color.Accent">Add Intervention</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
                
            @* <FluentNavLink Href="units" Icon="@(new Icons.Regular.Size20.Building())" IconColor="Color.Accent">Hospital Units</FluentNavLink> *@
            <FluentNavGroup Title="Hospital Units" Icon="@(new Icons.Regular.Size20.Building())">
                <ChildContent>
                    <FluentNavLink Href="units" Icon="@(new Icons.Regular.Size20.Building())" IconColor="Color.Accent">List Hospital Units</FluentNavLink>
                    <FluentNavLink Href="units" Icon="@(new Icons.Regular.Size20.Building())" IconColor="Color.Accent">Add Hospital Unit</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
            
            @* <FluentNavLink Href="equipments" Icon="@(new Icons.Regular.Size20.Tv())" IconColor="Color.Accent">Equipments</FluentNavLink> *@
            <FluentNavGroup Title="Equipments" Icon="@(new Icons.Regular.Size20.Tv())">
                <ChildContent>
                    <FluentNavLink Href="equipments" Icon="@(new Icons.Regular.Size20.Tv())" IconColor="Color.Accent">List Equipments</FluentNavLink>
                    <FluentNavLink Href="equipments" Icon="@(new Icons.Regular.Size20.Tv())" IconColor="Color.Accent">Add Equipment</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
            
            @* <FluentNavLink Href="categories" Icon="@(new Icons.Regular.Size20.Apps())" IconColor="Color.Accent">Equipment Categories</FluentNavLink> *@
            <FluentNavGroup Title="Equipment Categories" Icon="@(new Icons.Regular.Size20.Apps())">
                <ChildContent>
                    <FluentNavLink Href="categories" Icon="@(new Icons.Regular.Size20.Apps())" IconColor="Color.Accent">List Equipment Categories</FluentNavLink>
                    <FluentNavLink Href="categories" Icon="@(new Icons.Regular.Size20.Apps())" IconColor="Color.Accent">Add Equipment Category</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
            
            @* <FluentNavLink Href="manufacturers" Icon="@(new Icons.Regular.Size20.BuildingFactory())" IconColor="Color.Accent">Manufacturers</FluentNavLink> *@
            <FluentNavGroup Title="Manufacturers" Icon="@(new Icons.Regular.Size20.BuildingFactory())" Match="NavLinkMatch.Prefix">
                <ChildContent>
                    <FluentNavLink Href="manufacturers" Icon="@(new Icons.Regular.Size20.BuildingFactory())" IconColor="Color.Accent">List Manufacturers</FluentNavLink>
                    <FluentNavLink Href="manufacturers" Icon="@(new Icons.Regular.Size20.BuildingFactory())" IconColor="Color.Accent">Add Manufacturer</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;

    private void Callback(bool obj)
    {
        var tst = obj.GetDescription();
        int tet = 1;
    }

}