@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            
            <FluentNavLink Href="interventions" Icon="@(new Icons.Regular.Size20.Wrench())" IconColor="Color.Accent">Interventions</FluentNavLink>
            <FluentNavLink Href="units" Icon="@(new Icons.Regular.Size20.Building())" IconColor="Color.Accent">Hospital Units</FluentNavLink>
            <FluentNavLink Href="equipments" Icon="@(new Icons.Regular.Size20.Tv())" IconColor="Color.Accent">Equipments</FluentNavLink>
            <FluentNavLink Href="categories" Icon="@(new Icons.Regular.Size20.Apps())" IconColor="Color.Accent">Equipment Categories</FluentNavLink>
            <FluentNavLink Href="manufacturers" Icon="@(new Icons.Regular.Size20.BuildingFactory())" IconColor="Color.Accent">Manufacturers</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;

}