@page "/Categories"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.IdentityModel.Tokens
@using ESIN.Clinic.Domain.Abstractions

@inject ICategoryRepository CategoryRepository;

<h3>Categories</h3>

@if (items.IsNullOrEmpty())
{
    <p>Loading data...</p>
}
else
{
    <div class="d-flex flex-wrap justify-content-center align-items-center py-2 col-md-4">
        <QuickGrid Items="@FilteredItems" ItemKey="@(c => c.Id)" Class="table table-hover" Pagination="@pagination">
            <PropertyColumn Property="@(c => c.Name)" Sortable="true" Class="py-2" Title="Name">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="@nameFilter" @bind:event="oninput" placeholder="Category name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(c => c.Description)" Align="Align.Start" Class="py-2" Title="Room" />
        </QuickGrid>
    </div>

    <div class="col-md-4">
        <Paginator State="@pagination" />
    </div>
}

