@page "/Manufacturers"

@using Microsoft.AspNetCore.Components.QuickGrid
@using ESIN.Clinic.Application.Manufacturers

@inject GetManufacturersQuery getManufacturersQuery

<h3>Manufacturers</h3>

<div class="d-flex flex-wrap justify-content-center align-items-center py-2 col-md-8">
    @* <QuickGrid Items="@FilteredItems" ResizableColumns=true Pagination="@pagination" GridTemplateColumns="1.2fr 1.2fr .7fr 1fr 1.2fr" Style="height: 405px;overflow:auto;"> *@
    <QuickGrid Items="@FilteredItems" ItemKey="@(c => c.Id)" Class="table table-hover">
        <PropertyColumn Property="@(c => c.Name)" Sortable="true" Class="py-2" Title="Name">
            @* <ColumnOptions> *@
            @*     <div class="search-box"> *@
            @*         <input type="search" Autofocus="true" @bind-Value="@nameFilter" @oninput="HandleCountryFilter" @bind-Value:after="HandleClear" Placeholder="Category name..." /> *@
            @*     </div> *@
            @* </ColumnOptions> *@
        </PropertyColumn>
        <PropertyColumn Property="@(c => c.Email)" Align="Align.Start" Class="py-2" Title="Email"/>
        <PropertyColumn Property="@(c => c.PhoneNumber)" Align="Align.Start" Class="py-2" Title="Phone Number"/>
        <PropertyColumn Property="@(c => c.MobilePhoneNumber)" Align="Align.Start" Class="py-2" Title="Mobile Number"/>
        <PropertyColumn Property="@(c => c.Address)" Align="Align.Start" Class="py-2" Title="Address"/>
    </QuickGrid>
</div>

@* <FluentPaginator State="@pagination" /> *@
