@page "/Categories"

@using ESIN.Clinic.Application.Categories

@inject GetCategoriesQuery GetCategoriesQuery

<h3>Categories</h3>

<FluentDataGrid Items="@FilteredItems" ResizableColumns=true Pagination="@pagination" GridTemplateColumns="1fr 3fr" Style="height: 405px;overflow:auto;">
    <PropertyColumn Property="@(c => c.Name)" Sortable="true" Tooltip="true" Title="Name">
        <ColumnOptions>
            <div class="search-box">
                <FluentSearch type="search" Autofocus="true" @bind-Value="@nameFilter" @oninput="HandleCountryFilter" @bind-Value:after="HandleClear" Placeholder="Category name..." />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="@(c => c.Description)" Align="Align.Start" Tooltip="true" Title="Description" />
</FluentDataGrid>

<FluentPaginator State="@pagination" />