@page "/Units"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.QuickGrid
@using ESIN.Clinic.Application.HospitalUnits
@using ESIN.Clinic.Application.HospitalUnits.Queries

@inject GetHospitalUnitsQuery getHospitalUnitsQuery

<h3>Hospital Units</h3>

<div class="d-flex flex-wrap justify-content-center align-items-center py-2 col-md-4">
    <QuickGrid Items="@FilteredItems" ItemKey="@(c => c.Id)" Pagination="@pagination" Class="table table-hover">
        <PropertyColumn Property="@(c => c.Name)" Sortable="true" Class="py-2" Title="Name">
            <ColumnOptions>
                <div class="search-box">
                    <input type="search" autofocus @bind="@nameFilter" @bind:event="oninput" placeholder="Category name..." />
                </div>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Property="@(c => c.Room)" Align="Align.Start" Class="py-2" Title="Room" />
    </QuickGrid>
</div>
    
<div class="col-md-4">
    <Paginator State="@pagination" />
</div>
