@page "/Interventions"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.IdentityModel.Tokens
@using ESIN.Clinic.Domain.Abstractions
@inject IInterventionService InterventionService

<h3>Interventions</h3>

@if (items.IsNullOrEmpty())
{
    <p>Loading data...</p>
}
else
{
    <div class="d-flex flex-wrap justify-content-center align-items-center py-2 col-md-8">
        <QuickGrid Items="@FilteredItems" ItemKey="@(c => c.Id)" Pagination="@pagination" Class="table table-hover">
            <PropertyColumn Property="@(c => c.InterventionType)" Align="Align.Center" Class="py-2" Title="Intervention Type"/>
            <PropertyColumn Property="@(c => c.ReportDate)" Align="Align.Center" Class="py-2" Title="Report Date" Format="dd/MM/yyy"/>
            <PropertyColumn Property="@(c => c.Equipment.Name)" Sortable="true" Class="py-2" Title="Equipment Name">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="@nameFilter" @bind:event="oninput" placeholder="Equipment name..."/>
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(c => c.StartDate)" Align="Align.Center" Class="py-2" Title="Start Date" Format="dd/MM/yyy"/>
            <PropertyColumn Property="@(c => c.EndDate)" Align="Align.Center" Class="py-2" Title="End Date" Format="dd/MM/yyy"/>
            <PropertyColumn Property="@(c => c.Observations)" Align="Align.Start" Class="py-2" Title="Observations"/>
            <PropertyColumn Property="@(c => c.Employee.Name)" Align="Align.Start" Class="py-2" Title="Employee"/>

            @*     <TemplateColumn> *@
            @*         <FluentAnchor Href="#" Appearance="Appearance.Lightweight"> *@
            @*             <FluentIcon Value="@(new Icons.Regular.Size24.Edit())" /> *@
            @*         </FluentAnchor> *@
            @*         <FluentAnchor Href="#" Appearance="Appearance.Lightweight"> *@
            @*             <FluentIcon Value="@(new Icons.Regular.Size24.BinRecycle())" /> *@
            @*         </FluentAnchor> *@
            @*     </TemplateColumn> *@

        </QuickGrid>
    </div>

    <div class="col-md-8">
        <Paginator State="@pagination"/>
    </div>
}