@page "/Interventions"

@using Microsoft.AspNetCore.Components.QuickGrid
@using ESIN.Clinic.Application.Interventions

@inject GetInterventionsQuery getInterventionsQuery

<h3>Interventions</h3>

<div class="d-flex flex-wrap justify-content-center align-items-center py-2 col-md-8">
    @* <QuickGrid Items="@FilteredItems" ResizableColumns=true Pagination="@pagination" GridTemplateColumns="1.2fr 1.2fr .7fr 1fr 1.2fr" Style="height: 405px;overflow:auto;"> *@
    <QuickGrid Items="@FilteredItems" ItemKey="@(c => c.Id)" Class="table table-hover">
        <PropertyColumn Property="@(c => c.InterventionType)" Align="Align.Center" Class="py-2" Title="Intervention Type" />
        <PropertyColumn Property="@(c => c.ReportDate)" Align="Align.Center" Class="py-2" Title="Report Date" Format="dd/MM/yyy" />
        <PropertyColumn Property="@(c => c.Equipment.Name)" Sortable="true" Class="py-2" Title="Equipment Name">
            @* <ColumnOptions> *@
            @*     <div class="search-box"> *@
            @*         <input type="search" Autofocus="true" @bind-Value="@nameFilter" @oninput="HandleCountryFilter" @bind-Value:after="HandleClear" Placeholder="Category name..." /> *@
            @*     </div> *@
            @* </ColumnOptions> *@
        </PropertyColumn>
        <PropertyColumn Property="@(c => c.StartDate)" Align="Align.Center" Class="py-2" Title="Start Date" Format="dd/MM/yyy"/>
        <PropertyColumn Property="@(c => c.EndDate)" Align="Align.Center" Class="py-2" Title="End Date" Format="dd/MM/yyy"/>
        <PropertyColumn Property="@(c => c.Observations)" Align="Align.Start" Class="py-2" Title="Observations"/>
        <PropertyColumn Property="@(c => c.Employee.Name)" Align="Align.Start" Class="py-2" Title="Employee"/>
        
        @*     <TemplateColumn> *@
        @*         <FluentAnchor Href="#" Appearance="Appearance.Lightweight"> *@
        @*             <FluentIcon Value="@(new Icons.Regular.Size24.Edit())" /> *@
        @*         </FluentAnchor> *@
        @*         <FluentAnchor Href="#" Appearance="Appearance.Lightweight"> *@
        @*             <FluentIcon Value="@(new Icons.Regular.Size24.BinRecycle())" /> *@
        @*         </FluentAnchor> *@
        @*     </TemplateColumn> *@
        
    </QuickGrid>
</div>

@* <FluentPaginator State="@pagination" /> *@