@page "/Interventions"

@using ESIN.Clinic.Application.Interventions

@inject GetInterventionsQuery getInterventionsQuery

<h3>Interventions</h3>

<FluentDataGrid Items="@FilteredItems" ResizableColumns=true Pagination="@pagination" GridTemplateColumns="1fr .7fr 1fr .7fr .7fr 2fr 1fr 1fr" Style="height: 405px;overflow:auto;">
    <PropertyColumn Property="@(c => c.InterventionType)" Align="Align.Center" Tooltip="true" Title="Intervention Type" />
    <PropertyColumn Property="@(c => c.ReportDate)" Align="Align.Center" Tooltip="true" Title="Report Date" Format="dd/MM/yyy" />
    <PropertyColumn Property="@(c => c.Equipment.Name)" Sortable="true" Tooltip="true" Title="Equipment Name">
        <ColumnOptions>
            <div class="search-box">
                <FluentSearch type="search" Autofocus="true" @bind-Value="@nameFilter" @oninput="HandleCountryFilter" @bind-Value:after="HandleClear" Placeholder="Category name..." />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="@(c => c.StartDate)" Align="Align.Center" Tooltip="true" Title="Start Date" Format="dd/MM/yyy" />
    <PropertyColumn Property="@(c => c.EndDate)" Align="Align.Center" Tooltip="true" Title="End Date" Format="dd/MM/yyy" />
    <PropertyColumn Property="@(c => c.Observations)" Align="Align.Start" Tooltip="true" Title="Observations" />
    <PropertyColumn Property="@(c => c.Employee.Name)" Align="Align.Start" Tooltip="true" Title="Employee" />
    
    <TemplateColumn>
        <FluentAnchor Href="#" Appearance="Appearance.Lightweight">
            <FluentIcon Value="@(new Icons.Regular.Size24.Edit())" />
        </FluentAnchor>
        <FluentAnchor Href="#" Appearance="Appearance.Lightweight">
            <FluentIcon Value="@(new Icons.Regular.Size24.BinRecycle())" />
        </FluentAnchor>
    </TemplateColumn>
    
</FluentDataGrid>

<FluentPaginator State="@pagination" />