@page "/Equipments/{Id:int?}"

<h3>EquipmentDetails</h3>

<p>Equipment <strong>@Id</strong></p>

@if (item != null)
{
    <ul>
        <li><strong>Name:</strong>&nbsp;@item.Name</li>
        <li><strong>Description:</strong>&nbsp;@item.Description</li>
        <li><strong>Model:</strong>@item.Model</li>
        
        <li><strong>SerialNumber:</strong>@item.SerialNumber</li>
        <li><strong>Description:</strong>@item.Description</li>
        <li><strong>Price:</strong>@item.Price</li>
        <li><strong>AcquisitionDate:</strong>@item.AcquisitionDate</li>
        <li><strong>WarrantyDate:</strong>@item.WarrantyDate</li>
        <li><strong>IsActive:</strong>@item.IsActive</li>
            
        <li><strong>Manufacturer:</strong>@item.Manufacturer</li>
        <li><strong>Category:</strong>@item.Category</li>
        <li><strong>HospitalUnit:</strong>@item.HospitalUnit</li>
    </ul>
}