@page "/Equipments"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.IdentityModel.Tokens
@using ESIN.Clinic.Domain.Abstractions
@inject IEquipmentRepository EquipmentRepository;

<h3>Equipments</h3>

<p>
    <a href="equipments/create">Create New</a>
</p>

@if (items.IsNullOrEmpty())
{
    <p>Loading data...</p>
}
else
{
    <div class="d-flex flex-wrap justify-content-center align-items-center py-2 col-md-8">
        <QuickGrid Items="@FilteredItems" ItemKey="@(equipement => equipement.Id)" Pagination="@pagination" Class="table table-hover">
            <PropertyColumn Property="@(equipements => equipements.Name)" Sortable="true" Class="py-2" Title="Name">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Category name..."/>
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(equipement => equipement.Description)" Align="Align.Start" Class="py-2" Title="Room"/>
            <PropertyColumn Property="@(equipement => equipement.Model)" Align="Align.Start" Class="py-2" Title="Model"/>
            <PropertyColumn Property="@(equipement => equipement.CategoryName)" Align="Align.Start" Class="py-2" Title="Category"/>
            <PropertyColumn Property="@(equipement => equipement.ManufacturerName)" Align="Align.Start" Class="py-2" Title="Manufacturer"/>
            <PropertyColumn Property="@(equipement => equipement.HospitalUnitName)" Align="Align.Start" Class="py-2" Title="Unit"/>
            <PropertyColumn Property="@(equipement => equipement.IsActive)" Align="Align.Center" Class="py-2" Title="Active"/>

            <TemplateColumn Context="equipement" Class="py-2">
                <a href="@($"equipments/{equipement.Id}")">Details</a>
            </TemplateColumn>
        </QuickGrid>
    </div>

    <div class="col-md-8">
        <Paginator State="@pagination"/>
    </div>
}